.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.App-title {
  font-size: 36px;
  margin: 0;
  padding: 20px;
}

input[type="text"] {
  font-size: 24px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  font-size: 24px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #0077cc;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

.options-container {
  margin-top: 20px;
}

.controls-container {
  margin-top: 20px;
}

.hidden {
  display: none;
}

label {
  font-size: 24px;
  margin-right: 10px;
}

input[type="range"] {
  width: 200px;
  margin-right: 10px;
}
